/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* VARIABEL */
:root {
    --primary-color: #FB6A27;
    --dart-color: #0f0f0f;
    --grey-color: grey;

    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --small-font-size: 14px;
}
/* RESEY CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* GLOBAL CSS */
section {
    padding: 70px 0;
}

section .section-title {
    font-size: var(--h2-font-size);
    font-weight: bold;
    text-transform: uppercase;
}

.text-orange {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dart-color);
}

.fs-7 {
    font-size: var(--small-font-size);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

/* STYLE SECTION */
/* navbar style */
.navbar .navbar-brand,
.navbar .nav-item .nav-link{
    color: var(--dart-color);
}

.navbar .nav-item .nav-link:hover,
.navbar .navbar-brand:hover,
.navbar .nav-item .nav-link.active {
    color: var(--primary-color);
} 

/* heaader style */
.header-section .header-title {
    font-size: var(--h1-font-size);
}

.header-section .header-skill {
    color: var(--dart-color);
}

.header-section .header-skill:hover{
    color: var(--primary-color);
}

.header-section .header-img, .skills-section .skills-img {
    width: 90%;
}

/* portfolio style */
.portfolio-section .card .card-img-top {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.swiper-slide .card .card-body a:hover {
    color: var(--dart-color);
}

@media screen and (max-width: 768px){
    .portfolio-section .card .card-img-top {
        height: 100px;
    }
}
